@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    border: 0;
}

span, a{
    list-style: none;
    text-decoration: none;
}

.main{
    background-image: url('https://images5.alphacoders.com/909/thumb-1920-909873.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.849);
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    display: flex;
    color: white;
    font-family: sans-serif;

    overflow: hidden;
}

.container{
    border: 1px solid rgb(107, 185, 238);
    border-radius: 10px;
    height: 90%;
    width: 35%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 100px 30px rgb(0, 0, 0);

}

.title{
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.redes{
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-size: 24pt;
}

.redes i{
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.classes{
    margin-top: 25px;
}

.classe{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.label{
    text-align: left;

    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.input{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding-left: 35px;
}

.input::placeholder{
    padding-left: 1px;
}

.botao{
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    font-family: sans-serif;
    height: 40px;
    margin: 5vh auto  5vh auto;
    cursor: pointer;
    background: rgb(115, 113, 245);
}

.botao:hover{
    transition: 0.4s;
    background: rgb(113, 245, 135);
    box-shadow: 0 0px 10px 0px rgb(14, 153, 95);
}
.botao:active{
    transition: 0.1s;
    background: rgb(245, 113, 113);
    box-shadow: 0 0px 10px 0px rgb(153, 14, 14);
}

.loge{
    position: absolute;
    display: flex;
    padding-top: 20px;
    font-size: 22pt;
    color: rgb(161, 160, 160);
}

.rodape{
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.rodape a{
    color: rgb(229, 226, 226);
}

.rodape a:hover{
    color: rgb(132, 200, 221);
}

.rodape a:active{
    color: rgb(214, 54, 54);
}

.home a{
    text-decoration: none;
    list-style: none;
}

.home{
    position: relative;
    margin-top: 90vh;
    border: 1px solid black;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    background: black;
    cursor: pointer;
}

.home i{
    text-decoration: none;
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: rgb(177, 177, 219);
    font-size: 22pt;
}

.home i:hover{
    color: rgb(115, 230, 112);
}

.sessao{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.sec{
    display: flex;
    align-items: center;
}

.sec span{
    text-indent: 0.5rem;
}

#check{
    all:unset;
    border: 1px solid rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    display: flex;
}

#check:checked{
    border: 1px solid rgb(184, 184, 252);
    background-color: rgb(184, 184, 252);
}